* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-index {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  list-style-type: none;
}
.tittles-index {
  font-size: 1.5rem;
}
a {
  color: white;
  font-weight: 500;
}
a:hover {
  color: red;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  margin: 6px;
}
.icono-index {
  height: 50px;
  border-radius: 12px;
  object-fit: cover;
}
/*APERTURA MAIN INDEX  */
.wrapper-index {
  display: flex;
  position: relative;
}
.tittle-disenio {
  display: flex;
  position: absolute;
  margin-top: 100px;
  margin-left: 16px;
  padding: 6px;
  border: solid 3px;
  border-radius: 9px;
  border-style: dotted;
  border-color: black;
  color: white;
}
.wrapper-center {
  background-color: rgba(255, 255, 181, 0.979);
  display: flex;
  flex-direction: column;
}
.img-center {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.img-index {
  width: 100%;
  height: 550px;
  object-fit: cover;
}
.text-center {
  display: flex;
  flex-direction: column;
}
.tittle-web,
.titulo-center {
  margin-bottom: 6px;
}
.disenio-web {
  color: blue;
}
.wrapper .p-center {
  font-family: Arial, Helvetica, sans-serif;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 16px;
}
.container-iframe {
  width: 100%;
  background-color: aqua;
  text-align: center;
}
.iframe {
  width: 100%;
}
.nav-footer {
  background-color: blueviolet;
  height: 150px;
  list-style-type: none;
  display: grid;
}
.footer-container {
  background-color: brown;
}
.derechos {
  text-align: center;
}
.column-2 {
  display: grid;
}
.column-3 {
  display: grid;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .left-container {
    width: 100%;
  }
  .icono-index {
    margin-bottom: 6px;
    height: 60px;
  }
  .tittles-index {
    font-size: 1.75rem;
  }
  .nav-index {
    font-size: 1.5rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .left-container {
    /* flex-direction: row; */
  }
  .nav-index {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    gap: 6px;
  }
  .tittles-index {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1024px) and (max-width: 1800px) {
  .header-container {
    height: 75px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .left-container {
    flex-direction: row;
    gap: 6px;
  }
  .tittles-index {
    font-size: 1.25rem;
  }
  .nav-index {
    flex-direction: row;
    font-size: 1rem;
    gap: 6px;
    padding: 0;
  }
  .list-index {
    display: flex;
  }
}
