* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* APERTURA HEADER INDEX */
.header-wrapper {
  background-color: #022f68;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header-wrapper .left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  margin: 6px;
  color: white;
}
.header-wrapper .left-container .img__left {
  height: 35px;
  border-radius: 12px;
  padding: 1px;
  background-color: black;
}
.header-wrapper .left-container .titles .titles__index {
  font-size: 1.25rem;
}
.header-wrapper .nav-index {
  /* white-space: nowrap; */
  font-size: 1rem;
  padding: 0;
  margin: 4px;
}
.header-wrapper .nav-index list__index,
.header-wrapper .nav-index a {
  font-weight: 500;
  color: white;
}
.header-wrapper .nav-index list__index:hover,
.header-wrapper .nav-index a:hover {
  color: red;
}

/* APERTURA MAIN INDEX  */
.wrapper-index {
  display: flex;
  position: relative;
}
.wrapper-index__title {
  display: flex;
  position: absolute;
  margin-top: 100px;
  margin-left: 16px;
  padding: 6px;
  border: solid 3px;
  border-radius: 9px;
  border-style: groove;
  border-color: black;
  color: white;
  background-color: #27548f;
}
.wrapper-index__img {
  width: 100%;
  height: 92vh;
  object-fit: cover;
}

.wrapper-center__container {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.wrapper-center__container__img {
  width: 100%;
  height: 30vh;
  object-fit: contain;
}

.container-text-center {
  display: flex;
  background-color: #7b74f4;
  flex-direction: column;
  text-align: center;
}
.container-text-center__title {
  margin-bottom: 6px;
}
.container-text-center__disenio {
  color: white;
}
.container-text-center__description {
  font-family: Arial, Helvetica, sans-serif;
}
.container-text-center .container-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 16px;
}

.container-iframe {
  width: 100%;
  height: 52.5vh;
  background-color: #7b74f4;
  text-align: center;
}
.container-iframe__title {
  text-decoration: underline;
  padding-top: 6px;
  padding-bottom: 0;
}
.container-iframe__iframe {
  width: 100%;
}

.container-footer {
  display: grid;
  background-color: #fffcf2;
  color: black;
  text-align: center;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 150px 150px;
}
.container-footer .column-1 {
  font-family: sans-serif;
  background-color: #3eaef4;
}
.container-footer .column-1__img {
  width: 100%;
  height: 50px;
  object-fit: contain;
  margin: 6px 0 6px 0;
}
.container-footer .column-2 {
  font-family: cursive;
  background-color: #8e8e7d;
  padding: 1rem;
}
.container-footer .column-3 {
  font-family: cursive;
  background-color: #f55656;
}
.container-footer .column-4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #ffba52;
}

ul,
li {
  list-style-type: none;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header-wrapper {
    display: flex;
    align-items: center;
  }
  .header-wrapper .left-container .img__left {
    display: flex;
  }
  .header-wrapper .nav-index {
    display: flex;
    flex-direction: row;
    gap: 12px;
    white-space: nowrap;
  }
}
@media (min-width: 1024px) and (max-width: 2100px) {
  .header-wrapper {
    justify-content: space-around;
    align-items: center;
  }
  .header-wrapper .left-container {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }
  .header-wrapper .left-container .titles {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  .header-wrapper .left-container .titles .titles__index {
    font-size: 1.25rem;
  }
  .nav-index {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    gap: 12px;
    padding: 0;
    white-space: nowrap;
  }
  /* CLOSED HEADER */
  .wrapper-index__img {
    height: 95vh;
  }
  .container-iframe {
    width: 100%;
    height: 50vh;
    background-color: #7b74f4;
    text-align: center;
  }
  .wrapper-center__img {
    height: 60vh;
    object-fit: contain;
  }
  .container-footer {
    display: grid;
    background-color: #fffcf2;
    color: black;
    text-align: center;
    width: 100%;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 0;
    row-gap: 0;
  }
  .container-footer .column-1 {
    grid-row: 1/4;
    padding: 1rem;
  }
  .container-footer .column-1__img {
    margin-top: 2rem;
    width: 40%;
    height: 120px;
    object-fit: contain;
    margin: 30px 0 6px 0;
  }
  .container-footer .column-2,
  .container-footer .column-3 {
    grid-column: 2/4;
  }
  .container-footer .column-4 {
    grid-column: 1/4;
    text-align: center;
  }
}
/* Apertura Header contacto */
.nav-contacto {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.nav-contacto a {
  color: white;
}

/* APERTURA HEADER INFORMACION PERSONAL */
.header-informacionpersonal {
  display: flex;
  background-color: cadetblue;
  justify-content: space-around;
  align-items: center;
}
.header-informacionpersonal .left-infpersonal {
  display: flex;
  align-items: center;
  gap: 6px;
}
.header-informacionpersonal .img__left {
  height: 50px;
  border-radius: 12px;
  padding: 4px;
}
.header-informacionpersonal .titles-infpersonal .titles__index {
  font-family: "Times New Roman", Times, serif;
}

.nav-informacionpersonal {
  display: flex;
  list-style-type: none;
  padding: 12px;
  gap: 12px;
}

.barra-informacionpersonal {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 6px;
  padding: 12px;
  font-size: 1.25rem;
  background-color: #e76f51;
}

/* APERTURA MAIN INFORMACION PERSONAL */
.barra-informacionpersonal {
  display: flex;
  background-color: #e76f51;
  height: 50px;
  padding: 12px;
  gap: 12px;
}

.educacion-informacionpersonal {
  text-align: center;
  text-decoration-line: underline;
  font-size: 1.75rem;
  padding: 6px;
  background-color: #f4a261;
}

.imagenes-informacionpersonal {
  display: flex;
  justify-content: space-around;
}

.wrapper_imginformacionpersonal {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 9px;
  background-color: #e9c46a;
}

.info-css,
.info-html,
.info-javascript {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 33.3333333333%;
}

.info-css img,
.info-html img,
.info-javascript img {
  background-size: cover;
  object-fit: contain;
  max-width: 500px;
  max-height: 300px;
  margin: 24px;
  filter: drop-shadow(5px 5px 20px black);
  border-radius: 15px;
}

.info-css p,
.info-html p,
.info-javascript p {
  height: auto;
  font-size: 1.5rem;
  line-height: 36px;
  text-align: center;
  margin: 15px;
}

.info-css h4,
.info-html h4,
.info-javascript h4 {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.input__ {
  height: 40px;
  width: 110px;
  padding: 4px;
  align-self: center;
  border: solid black;
  background-color: antiquewhite;
  border-radius: 6px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .header-informacionpersonal {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .header-informacionpersonal .left-infpersonal {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .header-informacionpersonal .titles-infpersonal {
    display: flex;
    flex-direction: column;
    font-size: 0.6rem;
    padding: 3px;
    font-family: "Times New Roman", Times, serif;
  }
  .header-informacionpersonal .nav-informacionpersonal {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  .header-informacionpersonal .li__informacionpersonal {
    font-weight: 600;
  }
  .header-informacionpersonal a {
    font-family: sans-serif;
    color: white;
  }
  .barra-informacionpersonal {
    padding: 12px;
  }
  .barra-informacionpersonal li {
    font-weight: 600;
  }
  .barra-informacionpersonal a {
    font-family: sans-serif;
    color: white;
  }
  .educacion-informacionpersonal {
    font-size: 1.25rem;
    padding: 8px;
  }
  .wrapper_imginformacionpersonal {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info-html,
  .info-css,
  .info-javascript {
    width: 300px;
    font-size: 16px;
  }
  .info-css p,
  .info-html p,
  .info-javascript p {
    font-size: 0.75rem;
    line-height: 16px;
  }
  .info-css img,
  .info-html img,
  .info-javascript img {
    height: 150px;
  }
  /*APERTURA MAIN CONTACTO  */
  .barra-contacto {
    display: flex;
    justify-content: left;
    align-items: center;
    list-style-type: none;
  }
  .titulo-contacto {
    text-align: center;
    text-decoration: underline;
    font-size: 1.5rem;
  }
  /* APERTURA REDES SOCIALES */
  .nav-redesociales {
    display: flex;
    list-style: none;
  }
  .menu-redesociales {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style-type: none;
  }
  /* APERTURA SERVICIOS */
  .nav-servicios {
    display: flex;
    list-style-type: none;
  }
}

/*# sourceMappingURL=styles.css.map */
