@charset "UTF-8";
/* base: Aquí puedes colocar los estilos base de tu proyecto, como estilos para elementos HTML (body, p, h1, etc.) y estilos generales. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  white-space: nowrap;
}

ul,
ol,
li {
  list-style-type: none;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

.header-wrapper {
  background-image: linear-gradient(#022f68, #1f69c7);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 120px;
}
.header-wrapper .left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  margin: 6px;
  color: white;
}
.header-wrapper .left-container .img__left {
  height: 35px;
  border-radius: 12px;
  padding: 1px;
  background-color: black;
}
.header-wrapper .left-container .titles .titles__index {
  margin: 0;
  font-size: 1rem;
}
.header-wrapper .nav-index {
  line-height: 1.5;
  padding: 0;
  margin: 4px;
}
.header-wrapper .nav-index .list__index,
.header-wrapper .nav-index a {
  font-weight: 500;
  color: white;
}
.header-wrapper .nav-index .list__index:hover,
.header-wrapper .nav-index a:hover {
  transform: scale(1.1) translateY(-5px);
  color: red;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header-wrapper {
    display: flex;
    align-items: center;
  }
  .header-wrapper .left-container .img__left {
    display: flex;
  }
  .header-wrapper .nav-index {
    display: flex;
    flex-direction: row;
    gap: 12px;
    white-space: nowrap;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .header-wrapper {
    display: flex;
    align-items: center;
    height: 70px;
  }
  .header-wrapper .left-container {
    flex-direction: row;
    gap: 8px;
  }
  .header-wrapper .left-container .img__left {
    display: flex;
  }
  .header-wrapper .nav-index {
    display: flex;
    flex-direction: row;
    gap: 12px;
    white-space: nowrap;
  }
}
@media (min-width: 1024px) and (max-width: 2100px) {
  .header-wrapper {
    justify-content: space-around;
    align-items: center;
    height: 70px;
  }
  .header-wrapper .left-container {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }
  .header-wrapper .left-container .titles {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  .header-wrapper .left-container .titles .titles__index {
    font-size: 1.25rem;
    margin: 0;
  }
  .nav-index {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    gap: 12px;
    padding: 0;
    white-space: nowrap;
  }
}
/* FOOTER */
.container-footer {
  display: grid;
  background-image: linear-gradient(#022f68, #1f69c7);
  color: white;
  text-align: center;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 150px 150px;
}
.container-footer .column-1 {
  padding-top: 12px;
  font-family: sans-serif;
}
.container-footer .column-1__img {
  width: 100%;
  height: 50px;
  object-fit: contain;
  margin: 6px 0 6px 0;
}
.container-footer .column-2 {
  line-height: 2rem;
  font-family: cursive;
}
.container-footer .column-3 {
  padding: 1rem;
  line-height: 1.5rem;
  font-family: cursive;
}
.container-footer .column-3 .column3__a {
  font-weight: 600;
  color: orange;
}
.container-footer .column-4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: solid 1px;
  background-color: #212529;
  color: white;
}

@media (min-width: 1024px) and (max-width: 2100px) {
  .container-footer {
    display: grid;
    background-image: linear-gradient(#022f68, #1f69c7);
    color: white;
    text-align: center;
    width: 100%;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 0;
    row-gap: 0;
  }
  .container-footer .column-1 {
    grid-row: 1/4;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 2rem 0 2rem;
    line-height: 2;
  }
  .container-footer .column-1 p {
    font-size: 20px;
    font-weight: 600;
    margin: 0 4rem 0 4rem;
  }
  .container-footer .column-2 {
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2;
    height: 200px;
  }
  .container-footer .column-3 {
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    line-height: 2;
    height: 100px;
  }
  .container-footer .column-3 .list-column3 {
    font-weight: 600;
  }
  .container-footer .column-3 .list-column3 .column3__a {
    color: orange;
    transition: transform 0.3s ease;
  }
  .container-footer .column-4 {
    grid-column: 1/4;
    text-align: center;
    background-color: #212529;
    color: white;
  }
}
.btn, .container-text-center__btn {
  display: inline-block;
  align-self: center;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 6px;
  margin: 3px;
  letter-spacing: 1px;
  border-radius: 50px;
  background-color: rgb(45, 238, 45);
  color: white;
}

/* Animista */
.slide-in-bck-center {
  animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-6-13 16:15:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes slide-in-bck-center {
  0% {
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
.bounce-in-top {
  animation: bounce-in-top 1.1s both;
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
.bounce-in-top {
  animation: bounce-in-top 1.1s both;
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
.focus-in-contract-bck {
  animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(300px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateZ(12px);
    filter: blur(0);
    opacity: 1;
  }
}
/* APERTURA MAIN INDEX  */
.wrapper-index {
  display: flex;
  position: relative;
}
.wrapper-index__title {
  display: flex;
  position: absolute;
  top: 20%;
  left: 5%;
  padding: 6px;
  border: solid 1px;
  border-radius: 9px;
  border-style: groove;
  border-color: white;
  color: white;
  background-image: linear-gradient(#022f68, #1f69c7);
  animation: slide-in-bck-center 9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.wrapper-index__img {
  width: 100%;
  height: 92vh;
  object-fit: cover;
}

.wrapper-center {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}
.wrapper-center .container-text-center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  text-align: center;
  opacity: 0;
  animation: fade-in 2s ease-in-out forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wrapper-center .container-text-center__title1 {
  padding: 12px;
}
.wrapper-center .container-text-center__disenio {
  text-decoration: underline;
  color: green;
}
.wrapper-center .container-text-center__description {
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper-center .container-text-center__btn {
  display: inline-block;
  align-self: center;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 6px;
  margin: 3px;
  letter-spacing: 1px;
  border-radius: 50px;
  background-color: rgb(45, 238, 45);
  color: white;
}
.wrapper-center .container-text-center__btn:hover {
  transform: scale(1.1) translateY(-5px);
}
.wrapper-center .wrapper-center__container {
  background-color: white;
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: fade-in 4s ease-out forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wrapper-center .wrapper-center__container__img {
  width: 100%;
  height: 30vh;
  object-fit: contain;
}

.container-iframe {
  height: auto;
  background-color: white;
  text-align: center;
}
.container-iframe__title {
  text-decoration: underline;
  padding: 12px;
}
.container-iframe__iframe {
  width: 100%;
  vertical-align: bottom;
}

@media (min-width: 1024px) and (max-width: 2100px) {
  .wrapper-index__img {
    height: 95vh;
  }
  .container-iframe {
    width: 100%;
    background-color: white;
    text-align: center;
  }
  .container-iframe__iframe {
    height: 69.5vh;
  }
  .wrapper-center {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .wrapper-center .wrapper-center__img {
    height: 60vh;
    width: 500px;
    object-fit: contain;
    animation: bounce-in-top 1.1s both;
  }
  .wrapper-center .container-text-center {
    width: 700px;
    background-color: white;
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .wrapper-center .container-text-center__description {
    font-weight: 600;
    line-height: 2rem;
    padding: 0 80px 0 80px;
  }
}
/* *APERTURA MAIN CONTACTO */
.contact-wrapper {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  text-align: center;
  height: 100vh;
  padding: 1rem;
  background-color: white;
}
.contact-wrapper .contact-container {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
  color: white;
  padding: 1rem;
  border-radius: 20px;
  transform: translateY(50px);
  animation: slide-in 2s forwards;
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.contact-wrapper .contact-container .contact-form {
  width: 100%;
  margin: 10px 0 10px 0;
}
.contact-wrapper .contact-container .contact-form__inputext, .contact-wrapper .contact-container .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.contact-wrapper .contact-container .contact-form__inputsubmit, .contact-wrapper .contact-container .contact-form__inputsubmitRed {
  background-color: #4caf50;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.contact-wrapper .contact-container .contact-form__inputsubmit:hover, .contact-wrapper .contact-container .contact-form__inputsubmitRed:hover {
  transform: scale(1.1) translateY(-5px);
}
.contact-wrapper .contact-container .contact-form__inputsubmitRed {
  background-color: red;
}
.contact-wrapper .contact-container .contact-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .contact-wrapper {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 2rem;
    text-align: center;
    height: 100vh;
  }
  .contact-wrapper .contact-container {
    height: 800px;
    /* display: flex;
    align-items: center; */
  }
}
@media (min-width: 1024px) and (max-width: 2100px) {
  .contact-wrapper {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 1rem;
    text-align: center;
    height: 100vh;
  }
  .contact-wrapper .contact-container {
    height: 700px;
    border-radius: 50px;
    opacity: 0;
    transform: translateY(50px);
    animation: slide-in 2s forwards;
  }
  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
/* * APERTURA MAIN INFORMACION PERSONAL */
.barra-informacionpersonal {
  display: flex;
  align-items: center;
  padding-left: 12px;
  height: 50px;
  font-weight: bold;
  background: rgb(0, 119, 182);
  background: linear-gradient(0deg, rgb(0, 119, 182) 51%, rgb(254, 250, 224) 100%);
}

.educacion-informacionpersonal {
  text-align: center;
  text-decoration-line: underline;
  font-size: 1.75rem;
  padding: 6px;
  background-color: #f4a261;
}

.imagenes-informacionpersonal {
  display: flex;
  justify-content: space-around;
}

.container {
  height: 44.8vw;
}
.container__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container__description {
  position: absolute;
  top: 25%;
  left: 50.5%;
  transform: translate(-50%, -50%);
  width: 150px;
  font-size: 1.5rem;
  padding: 2px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  transition: background-color 0.3s ease-in-out;
}
.container__description:hover {
  background-color: green;
}

.wrapper_imginformacionpersonal {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #e9c46a;
  padding-top: 12px;
}
.wrapper_imginformacionpersonal .info-css,
.wrapper_imginformacionpersonal .info-html,
.wrapper_imginformacionpersonal .info-javascript {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 33.3333333333%;
}
.wrapper_imginformacionpersonal .info-css img,
.wrapper_imginformacionpersonal .info-html img,
.wrapper_imginformacionpersonal .info-javascript img {
  background-size: cover;
  object-fit: contain;
  max-width: 500px;
  max-height: 300px;
  margin: 24px;
  /* filter: drop-shadow(5px 5px 20px black); */
  border-radius: 15px;
  box-shadow: rgba(46, 107, 240, 0.4) 5px 5px, rgb(255, 255, 255) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(4, 187, 243, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
.wrapper_imginformacionpersonal .info-css p,
.wrapper_imginformacionpersonal .info-html p,
.wrapper_imginformacionpersonal .info-javascript p {
  height: auto;
  font-size: 1.5rem;
  line-height: 36px;
  text-align: center;
  margin: 0px 12px 0 12px;
}
.wrapper_imginformacionpersonal .info-css h4,
.wrapper_imginformacionpersonal .info-html h4,
.wrapper_imginformacionpersonal .info-javascript h4 {
  font-size: 1.5rem;
  margin-bottom: 16px;
  color: white;
}
.wrapper_imginformacionpersonal .input__ {
  height: 40px;
  width: auto;
  padding: 2px;
  align-self: center;
  border: solid black;
  background-color: antiquewhite;
  border-radius: 6px;
}
.wrapper_imginformacionpersonal .info-css:hover {
  transform: scale(1.1) translateY(-50px);
  transition: all 0.5s;
}
.wrapper_imginformacionpersonal .info-html:hover {
  transform: scale(1.1) translateY(-50px);
  transition: all 0.5s;
}
.wrapper_imginformacionpersonal .info-javascript:hover {
  transform: scale(1.1) translateY(-50px);
  transition: all 0.5s;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .header-informacionpersonal {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .header-informacionpersonal .left-infpersonal {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .header-informacionpersonal .titles-infpersonal {
    display: flex;
    flex-direction: column;
    font-size: 0.6rem;
    padding: 3px;
    font-family: "Times New Roman", Times, serif;
  }
  .header-informacionpersonal .nav-informacionpersonal {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  .header-informacionpersonal .li__informacionpersonal {
    font-weight: 600;
  }
  .header-informacionpersonal a {
    font-family: sans-serif;
    color: white;
  }
  .barra-informacionpersonal {
    padding: 12px;
  }
  .barra-informacionpersonal li {
    font-weight: 600;
  }
  .barra-informacionpersonal a {
    font-family: sans-serif;
    color: white;
  }
  .educacion-informacionpersonal {
    font-size: 1.25rem;
    padding: 8px;
  }
  .container {
    height: 60vh;
  }
  .container__description {
    top: 35%;
    width: 100px;
    font-size: 0.75rem;
  }
  .wrapper_imginformacionpersonal {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapper_imginformacionpersonal .info-html,
  .wrapper_imginformacionpersonal .info-css,
  .wrapper_imginformacionpersonal .info-javascript {
    width: 300px;
    font-size: 16px;
    padding: 1rem 0 1rem 0;
  }
  .wrapper_imginformacionpersonal .info-css p,
  .wrapper_imginformacionpersonal .info-html p,
  .wrapper_imginformacionpersonal .info-javascript p {
    font-size: 1rem;
    line-height: 24px;
  }
  .wrapper_imginformacionpersonal .info-css img,
  .wrapper_imginformacionpersonal .info-html img,
  .wrapper_imginformacionpersonal .info-javascript img {
    height: 150px;
  }
}
/* APERTURA REDES SOCIALES MAIN */
.title__one {
  margin: 1em;
  text-align: center;
  text-decoration: underline;
}

.container-media-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0 12px 0 12px;
  background-color: white;
}
.container-media-section__image {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 1rem;
  max-width: 400px;
  animation: bounce-in-top 2.5s both;
}
.container-media-section.animation-1 {
  animation: bounce-in-top 2.5s both;
  animation-delay: 0.5s;
}
.container-media-section.animation-2 {
  animation: bounce-in-top 4.5s both;
  animation-delay: 0.75s;
}
.container-media-section.animation-3 {
  animation: bounce-in-top 6.5s both;
  animation-delay: 1s;
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
.container-media-section__title {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 1.5rem;
  padding: 8px;
  border-radius: 20px;
  background-color: #2aff00;
}
.container-media-section__description {
  width: 300px;
  font-family: Arial;
  padding: 1em;
  margin: 1em;
  line-height: 1.5rem;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.4588235294);
}
.container-media-section--hidden {
  /* hidden in mobile */
  display: none;
}
.container-media-section .description {
  display: block;
  padding: 0 12px 0 12px;
  background-color: rgba(128, 128, 128, 0.4588235294);
  border-radius: 30px;
  line-height: 1.5;
  font-weight: bold;
  width: 250px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container-media-section {
    padding: 0 2rem 0 2rem;
  }
  .container-media-section__image {
    border-radius: 2rem;
    max-width: 600px;
  }
  .container-media-section__title {
    margin-top: 2rem;
  }
  .container-media-section__description {
    width: 400px;
  }
  .container-media-section .description {
    background-color: gray;
  }
}
@media (min-width: 1025px) {
  .wrapper-media-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    align-items: center;
    background-color: white;
    grid-gap: 12px;
    padding: 0;
  }
  .wrapper-media-section .container-media-section {
    display: flex;
    justify-content: flex-start;
    margin: 0 -24px 0 -2px;
  }
  .wrapper-media-section .container-media-section__image {
    max-width: 800px;
    max-height: 100%;
  }
  .wrapper-media-section .container-media-section--hidden {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-area: 2;
    margin-top: 1rem;
  }
  .wrapper-media-section .container-media-section--hidden .container-media-section__image.hidden {
    display: grid;
    max-width: 200px;
    animation-delay: 1.5s;
  }
  .wrapper-media-section .description {
    display: block;
    padding: 0 12px 0 12px;
    background-color: rgba(128, 128, 128, 0.4588235294);
    border-radius: 30px;
    line-height: 1.5;
    font-weight: bold;
    width: 250px;
  }
}
/* Servicios Main */
strong {
  color: black;
  font-weight: 700;
}

.wrapper-card {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  color: white;
}

.container-redes {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  color: white;
}
.container-redes__img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
.container-redes__title {
  text-align: center;
  padding: 1em;
  animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.card {
  /* background-color: lightgoldenrodyellow; */
  text-align: center;
}
.card__title {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.2784313725);
  padding: 1em;
}
.card__description {
  font-family: arial;
  padding: 1em;
  margin: 1em;
  line-height: 1.5em;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .wrapper-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
  }
  .card {
    border: solid 1px black;
  }
  .card__title {
    white-space: nowrap;
  }
  .card-5 {
    grid-area: 3/span 2;
    text-align: center;
  }
}
@media (min-width: 1024px) and (max-width: 2100px) {
  .container-redes {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .container-redes__title {
    text-align: center;
    font-size: 1.5rem;
    width: 90%;
    font-size: 2.5rem;
  }
  .wrapper-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    grid-gap: 10px;
  }
  .wrapper-card .card {
    border: solid 1px black;
    margin: 10px 32px;
  }
  .wrapper-card .card__title {
    white-space: nowrap;
  }
  .wrapper-card .card__description {
    font-size: 1.5rem;
  }
  .wrapper-card .card-5 {
    grid-area: 3/span 2;
    text-align: center;
    margin: 0 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
