.card__tittle {
  font-size: 1rem;
}
.card__img {
  width: 150px;
  height: 150px;
}
.card__precio {
  color: red;
}
.card_btn {
  padding: 12px;
}
.card__precio-destacada {
  color: green;
  font-size: 2rem;
}
