/* *APERTURA MAIN CONTACTO */

.contact-wrapper {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #2a5298 100%
  );
  text-align: center;
  height: 100vh;
  padding: 1rem;
  background-color: white;

  .contact-container {
    display: flex;
    align-items: center;
    height: 800px;
    background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
    color: white;
    padding: 1rem;
    border-radius: 20px;

    transform: translateY(50px);
    animation: slide-in 2s forwards;

    @keyframes slide-in {
      0% {
        opacity: 0;
        transform: translateY(50px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .contact-form {
      width: 100%;
      margin: 10px 0 10px 0;

      &__inputext {
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      &__inputsubmit {
        background-color: #4caf50;
        color: white;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      &__inputsubmit:hover {
        transform: scale(1.1) translateY(-5px);
      }
      &__inputsubmitRed {
        @extend .contact-form__inputsubmit;
        background-color: red;
      }
      label {
        display: block;
        font-weight: bold;
        margin-bottom: 0.5em;
      }
      textarea {
        @extend .contact-form__inputext;
      }
    }
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .contact-wrapper {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 2rem;
    text-align: center;
    height: 100vh;

    .contact-container {
      height: 800px;
      /* display: flex;
      align-items: center; */
    }
  }
}
@media (min-width: 1024px) and (max-width: 2100px) {
  .contact-wrapper {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 1rem;
    text-align: center;
    height: 100vh;

    .contact-container {
      height: 700px;
      border-radius: 50px;
      opacity: 0;
      transform: translateY(50px);
      animation: slide-in 2s forwards;
    }

    @keyframes slide-in {
      0% {
        opacity: 0;
        transform: translateY(50px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
