/* APERTURA REDES SOCIALES MAIN */

.title__one {
  margin: 1em;
  text-align: center;
  text-decoration: underline;
}
.container-media-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0 12px 0 12px;
  background-color: white;

  &__image {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 1rem;
    max-width: 400px;

    animation: bounce-in-top 1.3s both;
  }
  @keyframes bounce-in-top {
    0% {
      transform: translateY(-500px);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      transform: translateY(-65px);
      animation-timing-function: ease-in;
    }
    72% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    81% {
      transform: translateY(-28px);
      animation-timing-function: ease-in;
    }
    90% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    95% {
      transform: translateY(-8px);
      animation-timing-function: ease-in;
    }
    100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
  }

  &__title {
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-top: 1.5rem;
    padding: 8px;
    border-radius: 20px;
    background-color: #2aff00;
  }
  &__description {
    width: 300px;
    font-family: Arial;
    padding: 1em;
    margin: 1em;
    line-height: 1.5rem;
    border-radius: 20px;
    background-color: gray;
  }
  &--hidden {
    /* hidden in mobile */
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .container-media-section {
    padding: 0 2rem 0 2rem;

    &__image {
      border-radius: 2rem;
      max-width: 600px;
    }
    &__title {
      margin-top: 2rem;
    }
    &__description {
      width: 400px;
    }
    .description {
      background-color: gray;
    }
  }
}
@media (min-width: 1025px) {
  .wrapper-media-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    align-items: center;
    background-color: white;
    grid-gap: 12px;
    padding: 0;
  }
  .container-media-section {
    display: flex;
    justify-content: flex-start;
    margin: 0 -24px 0 -2px;
    &__image {
      max-width: 800px;
      max-height: 100%;
    }
  }
  .container-media-section--hidden {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-area: 2;
    margin-top: 1rem;

    .container-media-section__image.hidden {
      display: grid;
      max-width: 200px;

      animation-delay: 1s;
    }
  }
  .description {
    display: block;
    padding: 0 12px 0 12px;
    background-color: gray;
    border-radius: 30px;
    line-height: 1.5;
    font-weight: bold;
    width: 250px;
  }
}
