/* Servicios Main */
.wrapper-card {
  background-color: lightgoldenrodyellow;
}

.container-redes {
  background-color: lightgoldenrodyellow;

  &__img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
  &__title {
    text-align: center;
    padding: 1em;
  }
}
.card {
  /* background-color: lightgoldenrodyellow; */
  text-align: center;

  &__title {
    width: 100%;
    background-color: #80808047;
    padding: 1em;
  }
  &__description {
    font-family: arial;
    padding: 1em;
    margin: 1em;
    line-height: 1.5em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .wrapper-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
  }
  .card {
    border: solid 1px black;
  }
  .card__title {
    white-space: nowrap;
  }
  .card-5 {
    grid-area: 3 / span 2;
    text-align: center;
  }
}
@media (min-width: 1024px) and (max-width: 2100px) {
  .container-redes {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__title {
      text-align: end;
      font-size: 1.5rem;
      width: 90%;
    }
  }
  .wrapper-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    grid-gap: 10px;

    .card {
      border: solid 1px black;
      margin: 0 40px;

      &__title {
        white-space: nowrap;
      }
      &__description {
        font-size: 1.5rem;
      }
    }
    .card-5 {
      grid-area: 3 / span 2;
      text-align: center;
      margin: 0 20px;
    }
  }
}
