@mixin btn-whatsapp {
  display: inline-block;
  align-self: center;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 6px;
  margin: 3px;
  letter-spacing: 1px;
  border-radius: 50px;
  background-color: rgb(45, 238, 45);
  color: white;
}

/* BTN WHATSAPP */
