.container-text-center__btn {
  display: inline-block;
  align-self: center;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 6px;
  margin: 5px;
  letter-spacing: 1px;
  border-radius: 50px;
  border-color: rgb(45, 238, 45);
  background-color: white;
  color: rgb(45, 238, 45);
}
/* BTN WHATSAPP */
